html, body {
    background-color: #cbc8fc;
    max-width: 100%;
    overflow-x: hidden;
}

/* SEARCHBAR */

.navbar {
    margin-top: 30px;
    margin-bottom: 60px;
}


/* MAIN WEATHER SECTION */

.card-deck {
    margin: 10px;
    margin-right: 20px;
    margin-top: 50px;
}

/* 5 DAY FORECAST */

.forecast{
    max-height: 12rem;
    overflow: hidden;
}

.forecast:hover{
    cursor: pointer;
    background-color: red;
}
